<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript"
	    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ["script", "noscript", "style", "textarea", "pre"]
        }
      });
    </script>
    {% include ga.js %}
  </head>

<body>
  <a id="page-top"></a>
  {% include header.html %}
  <article>
    <header class="article-hdr">
      <h1>{{page.title}}</h1>
      <span class="date">{{page.date | date: "%B %-d, %Y"}}</span>
    </header>
    <hr class="light">
    {{ content }}
  </article>
  <footer>
    {% if page.next.url %} 
      <a href="{{page.next.url}}">&laquo; Newer post</a>
    {% else %}
      <span class="disabled" href="">&laquo; Newer post</span>
    {% endif %}
       | <a href="#page-top">top</a> | 
    {% if page.previous.url %} 
      <a href="{{page.previous.url}}">Older post &raquo;</a>
    {% else %}
      <span class="disabled" href="">Older post &raquo;</span>
    {% endif %} 
  </footer>


  
</body>


</html>


